body {
    background-image: url(https://images.wallpaperscraft.ru/image/single/ruchej_voda_ulitsa_1379018_1920x1080.jpg);
}

.text {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 3em; 
    color: black; 
    text-transform: uppercase; 
    letter-spacing: 2px; 
    margin: 20px 0; 
    padding: 5px; 
    background: linear-gradient(45deg, white,#3498db,#1abc9c);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, color 0.3s; 
}

a {
    text-decoration: none;
    color: #3498db;
    font-weight: bold;
    transition: color 0.3s, text-shadow 0.3s;
}

a:hover {
    color: white;
    text-shadow: 0 0 5px rgba(52, 152, 219, 0.7);
}

a:active{
    color: #1abc9c;
    transform: scale(0.98);
}

li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    color: #2c3e50;
}
